.spx-hero:after {
  background-image: url("/images/sawpoint-hero.png") !important;
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}

@media (max-width: 1000px) {
  .spx-hero:after {
    background-size: cover !important;
    background-position: center center !important;
  }
}

@media (max-width: 700px) {
  .spx-hero:after {
    background-size: cover !important;
    background-position: center 45% !important;
  }
}
